In [1]:
import pandas as pd
import pickle

# Cabinets

In [2]:
df = pd.read_excel("./data/CabinetMembers.ods", engine = "odf")
print(df.shape)
df.head()

(156, 6)

,person_id,person_name,ministry,from,to,cabinet_no
0,paksas_r,Rolandas Paksas,Premjeras,2000-10-27,2001-06-27,11
1,bartkus_g,Gintautas Bartkus,Teisingumo,2000-10-27,2001-06-27,11
2,blinkeviciute_v,Vilija Blinkeviūtė,Socialinės apsaugos ir darbo,2000-10-27,2001-06-27,11
3,janusonis_v,Vincas Janušonis,Sveikatos apsaugos,2000-10-27,2001-05-15,11
4,dobrovolskis_k,Kontantinas Dobrovolskis,Sveikatos apsaugos,2001-05-15,2001-06-27,11

In [3]:
df_forms = pd.read_excel("./data/CabinetMemberForms.ods", engine = "odf")
df_forms["full_name"] = df_forms.apply(lambda x: x["name"] + " " + x["surname"], axis = 1)
print(df_forms.shape)
df_forms.head()

(1543, 4)

    person_id      name    surname           full_name
0  simonyte_i   Ingrida   Šimonytė    Ingrida Šimonytė
1  simonyte_i  Ingridos  Šimonytės  Ingridos Šimonytės
2  simonyte_i  Ingridai  Šimonytei  Ingridai Šimonytei
3  simonyte_i   Ingridą   Šimonytė    Ingridą Šimonytė
4  simonyte_i   Ingrida   Šimonyte    Ingrida Šimonyte

In [4]:
df_forms_g = df_forms.groupby(["person_id"]).agg({'full_name':lambda x: list(x)})
print(df_forms_g.shape)
df_forms_g.head()

(120, 1)

                                                        full_name
person_id
andriukaitis_v  [Vytenis Andriukaitis, Vytenio Andriukaičio, V...
anusauskas_a    [Arvydas Anušauskas, Arvydo Anušausko, Arvydui...
armonaite_a     [Aušrinė Armonaitė, Aušrinės Armonaitės, Aušri...
azubalis_a      [Audronius Ažubalis, Audroniaus Ažubalio, Audr...
baguska_p       [Petras Baguška, Petro Baguškos, Petrui Bagušk...

In [5]:
df_forms2 = pd.DataFrame()
df_forms2["person_id"] = list(df_forms_g.index)
df_forms2["names"] = list(df_forms_g["full_name"])
print(df_forms2.shape)
df_forms2.head()

(120, 2)

        person_id                                              names
0  andriukaitis_v  [Vytenis Andriukaitis, Vytenio Andriukaičio, V...
1    anusauskas_a  [Arvydas Anušauskas, Arvydo Anušausko, Arvydui...
2     armonaite_a  [Aušrinė Armonaitė, Aušrinės Armonaitės, Aušri...
3      azubalis_a  [Audronius Ažubalis, Audroniaus Ažubalio, Audr...
4       baguska_p  [Petras Baguška, Petro Baguškos, Petrui Bagušk...

In [6]:
df_full = pd.merge(left=df, right=df_forms2, on="person_id", how="inner")
print(df_full.shape)
df_full.head()

(153, 7)

,person_id,person_name,ministry,from,to,cabinet_no,names
0,paksas_r,Rolandas Paksas,Premjeras,2000-10-27,2001-06-27,11,"[Rolandas Paksas, Rolando Pakso, Rolandui Paks..."
1,bartkus_g,Gintautas Bartkus,Teisingumo,2000-10-27,2001-06-27,11,"[Gintautas Bartkus, Gintauto Bartkaus, Gintaut..."
2,blinkeviciute_v,Vilija Blinkeviūtė,Socialinės apsaugos ir darbo,2000-10-27,2001-06-27,11,"[Vilija Blinkevičiūtė, Vilijos Blinkevičiūtės..."
3,blinkeviciute_v,Vilija Blinkeviūtė,Socialinės apsaugos ir darbo,2001-07-01,2004-12-15,12,"[Vilija Blinkevičiūtė, Vilijos Blinkevičiūtės..."
4,blinkeviciute_v,Vilija Blinkeviūtė,Socialinės apsaugos ir darbo,2004-11-29,2006-06-01,13,"[Vilija Blinkevičiūtė, Vilijos Blinkevičiūtės..."

In [7]:
dfl = df_full.to_dict(orient="records")
dfl[10]

{'person_id': 'kristinaitis_k',
 'person_name': 'Kęstutis Kristinaitis',
 'ministry': 'Žemės Ūkio',
 'from': Timestamp('2000-10-27 00:00:00'),
 'to': Timestamp('2001-06-27 00:00:00'),
 'cabinet_no': 11,
 'names': ['Kęstutis Kristinaitis',
  'Kęstučio Kristinaičio',
  'Kęstučiui Kristinaičiui',
  'Kęstutį Kristinaitį',
  'Kęstučiu Kristinaičiu',
  'Kęstutyje  Kristinaityje',
  'K. Kristinaitis',
  'K. Kristinaičio',
  'K. Kristinaičiui',
  'K. Kristinaitį',
  'K. Kristinaičiu',
  'K. Kristinaityje']}

# Cabinet institutions

In [8]:
df_ins = pd.read_excel("./data/CabinetInstitutions.ods", engine = "odf")
print(df_ins.shape)
df_ins.head()

(15, 6)

,person_id,person_name,ministry,from,to,cabinet_no
0,tm,Teisingumo ministerija,Teisingumo,2000-01-01,2024-12-31,1
1,sadm,Socialinės apsaugos ir darbo ministerija,Socialinės apsaugos ir darbo,2000-01-01,2024-12-31,1
2,sam,Sveikatos apsaugos ministerija,Sveikatos apsaugos,2000-01-01,2024-12-31,1
3,km,Kultūros ministerija,Kultūros,2000-01-01,2024-12-31,1
4,zum,Žemės ūkio ministerija,Žemės Ūkio,2000-01-01,2024-12-31,1

In [9]:
df_ins_forms = pd.read_excel("./data/CabinetInstitutionForms.ods", engine = "odf")
df_ins_forms["full_name"] = df_ins_forms.apply(lambda x: x["name"] + " " + x["surname"], axis = 1)
print(df_ins_forms.shape)
df_ins_forms.head()

(90, 4)

  person_id        name       surname                full_name
0        tm  Teisingumo   ministerija   Teisingumo ministerija
1        tm  Teisingumo  ministerijos  Teisingumo ministerijos
2        tm  Teisingumo  ministerijai  Teisingumo ministerijai
3        tm  Teisingumo   ministeriją   Teisingumo ministeriją
4        tm  Teisingumo   ministerija   Teisingumo ministerija

In [10]:
df_ins_forms_g = df_ins_forms.groupby(["person_id"]).agg({'full_name':lambda x: list(x)})
print(df_ins_forms_g.shape)
df_ins_forms_g.head()

(15, 1)

                                                   full_name
person_id
eim        [Ekonomikos ir inovacijų ministerija, Ekonomik...
em         [Energetikos ministerija, Energetikos minister...
finmin     [Finansų ministerija, Finansų ministerijos, Fi...
kam        [Krašto apsaugos ministerija, Krašto apsaugos ...
km         [Kultūros ministerija, Kultūros ministerijos, ...

In [11]:
df_ins_forms2 = pd.DataFrame()
df_ins_forms2["person_id"] = list(df_ins_forms_g.index)
df_ins_forms2["names"] = list(df_ins_forms_g["full_name"])
print(df_ins_forms2.shape)
df_ins_forms2.head()

(15, 2)

  person_id                                              names
0       eim  [Ekonomikos ir inovacijų ministerija, Ekonomik...
1        em  [Energetikos ministerija, Energetikos minister...
2    finmin  [Finansų ministerija, Finansų ministerijos, Fi...
3       kam  [Krašto apsaugos ministerija, Krašto apsaugos ...
4        km  [Kultūros ministerija, Kultūros ministerijos, ...

In [12]:
df_ins_full = pd.merge(left=df_ins, right=df_ins_forms2, on="person_id", how="inner")
print(df_ins_full.shape)
df_ins_full.head()

(15, 7)

,person_id,person_name,ministry,from,to,cabinet_no,names
0,tm,Teisingumo ministerija,Teisingumo,2000-01-01,2024-12-31,1,"[Teisingumo ministerija, Teisingumo ministerij..."
1,sadm,Socialinės apsaugos ir darbo ministerija,Socialinės apsaugos ir darbo,2000-01-01,2024-12-31,1,"[Socialinės apsaugos ir darbo ministerija, Soc..."
2,sam,Sveikatos apsaugos ministerija,Sveikatos apsaugos,2000-01-01,2024-12-31,1,"[Sveikatos apsaugos ministerija, Sveikatos aps..."
3,km,Kultūros ministerija,Kultūros,2000-01-01,2024-12-31,1,"[Kultūros ministerija, Kultūros ministerijos, ..."
4,zum,Žemės ūkio ministerija,Žemės Ūkio,2000-01-01,2024-12-31,1,"[Žemės ūkio ministerija, Žemės ūkio ministerij..."

In [13]:
dfl_ins = df_ins_full.to_dict(orient="records")
dfl_ins[10]

{'person_id': 'sm',
 'person_name': 'Susisiekimo ministerija',
 'ministry': 'Susisiekimo',
 'from': Timestamp('2000-01-01 00:00:00'),
 'to': Timestamp('2024-12-31 00:00:00'),
 'cabinet_no': 1,
 'names': ['Susisiekimo ministerija',
  'Susisiekimo ministerijos',
  'Susisiekimo ministerijai',
  'Susisiekimo ministeriją',
  'Susisiekimo ministerija',
  'Susisiekimo ministerijoje']}

In [14]:
dfl += dfl_ins

# Presidents

In [15]:
df_prez = pd.read_excel("./data/Presidents.ods", engine = "odf")
print(df_prez.shape)
df_prez.head()

(6, 6)

,person_id,person_name,ministry,from,to,cabinet_no
0,nauseda_g,Gitanas Nausėda,Prezidentas,2019-07-12,2024-07-12,7
1,grybauskaite_d,Dalia Grybauskaite,Prezidentas,2009-07-12,2019-07-12,6
2,adamkus_v,Valdas Adamkus,Prezidentas,2004-07-12,2009-07-12,5
3,paulauskas_a,Artūras Paulauskas,Prezidentas,2004-04-06,2004-07-12,4
4,paksas_r,Rolandas Paksas,Prezidentas,2003-02-26,2004-04-06,3

In [16]:
df_prez_forms = pd.read_excel("./data/PresidentForms.ods", engine = "odf")
df_prez_forms["full_name"] = df_prez_forms.apply(lambda x: x["name"] + " " + x["surname"], axis = 1)
print(df_prez_forms.shape)
df_prez_forms.head()

(48, 4)

   person_id     name   surname         full_name
0  nauseda_g  Gitanas   Nausėda   Gitanas Nausėda
1  nauseda_g   Gitano  Nausėdos   Gitano Nausėdos
2  nauseda_g  Gitanui  Nausėdai  Gitanui Nausėdai
3  nauseda_g   Gitaną   Nausėdą    Gitaną Nausėdą
4  nauseda_g   Gitanu   Nausėda    Gitanu Nausėda

In [17]:
df_prez_forms_g = df_prez_forms.groupby(["person_id"]).agg({'full_name':lambda x: list(x)})
print(df_prez_forms_g.shape)
df_prez_forms_g.head()

(4, 1)

                                                        full_name
person_id
adamkus_v       [Valdas Adamkus, Valdo Adamkaus, Valdui Adamku...
grybauskaite_d  [Dalia Grybauskaitė, Dalios Grybauskaitės, Dal...
nauseda_g       [Gitanas Nausėda, Gitano Nausėdos, Gitanui Nau...
paksas_r        [Rolandas Paksas, Rolando Pakso, Rolandui Paks...

In [18]:
df_prez_forms2 = pd.DataFrame()
df_prez_forms2["person_id"] = list(df_prez_forms_g.index)
df_prez_forms2["names"] = list(df_prez_forms_g["full_name"])
print(df_prez_forms2.shape)
df_prez_forms2.head()

(4, 2)

        person_id                                              names
0       adamkus_v  [Valdas Adamkus, Valdo Adamkaus, Valdui Adamku...
1  grybauskaite_d  [Dalia Grybauskaitė, Dalios Grybauskaitės, Dal...
2       nauseda_g  [Gitanas Nausėda, Gitano Nausėdos, Gitanui Nau...
3        paksas_r  [Rolandas Paksas, Rolando Pakso, Rolandui Paks...

In [19]:
df_prez_full = pd.merge(left=df_prez, right=df_prez_forms2, on="person_id", how="inner")
print(df_prez_full.shape)
df_prez_full.head()

(5, 7)

,person_id,person_name,ministry,from,to,cabinet_no,names
0,nauseda_g,Gitanas Nausėda,Prezidentas,2019-07-12,2024-07-12,7,"[Gitanas Nausėda, Gitano Nausėdos, Gitanui Nau..."
1,grybauskaite_d,Dalia Grybauskaite,Prezidentas,2009-07-12,2019-07-12,6,"[Dalia Grybauskaitė, Dalios Grybauskaitės, Dal..."
2,adamkus_v,Valdas Adamkus,Prezidentas,2004-07-12,2009-07-12,5,"[Valdas Adamkus, Valdo Adamkaus, Valdui Adamku..."
3,adamkus_v,Valdas Adamkus,Prezidentas,1998-02-26,2003-02-26,2,"[Valdas Adamkus, Valdo Adamkaus, Valdui Adamku..."
4,paksas_r,Rolandas Paksas,Prezidentas,2003-02-26,2004-04-06,3,"[Rolandas Paksas, Rolando Pakso, Rolandui Paks..."

In [20]:
dfl_prez = df_prez_full.to_dict(orient="records")
dfl_prez[0]

{'person_id': 'nauseda_g',
 'person_name': 'Gitanas Nausėda',
 'ministry': 'Prezidentas',
 'from': Timestamp('2019-07-12 00:00:00'),
 'to': Timestamp('2024-07-12 00:00:00'),
 'cabinet_no': 7,
 'names': ['Gitanas Nausėda',
  'Gitano Nausėdos',
  'Gitanui Nausėdai',
  'Gitaną Nausėdą',
  'Gitanu Nausėda',
  'Gitane Nausėdoje',
  'G.  Nausėda',
  'G.  Nausėdos',
  'G.  Nausėdai',
  'G.  Nausėdą',
  'G.  Nausėda',
  'G.  Nausėdoje']}

In [21]:
dfl += dfl_prez

# Joining

In [22]:
with open("Cabinet_data_NER.pkl", "wb") as file:
    pickle.dump(dfl, file)